.box-control {
	padding: 20px;
}
.wr-action {
	margin: 10px;
}

#btn-add-twitter{
	width: 100px;
}

.bt-login{
	width: 150px;
}

.link-csv{
	text-decoration: underline;
}

.btn-gray{
	background-color: #EEEEEE;
}